<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.eloksolutions.divaz">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.OwnerApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Services"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Registartion"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.OwnerMenu"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ContactUs"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Packages"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.OffersScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MessageScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Gallery"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.AboutUs"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.CreateOffer"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MessageCreate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ServiceList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.OffersList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MesagesList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MessageUpdate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ServiceUpdate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.Main2Activity"></activity>
        <activity
            android:name=".activities.OfferUpdate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.PackagesList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.PackagesUpdate"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>