<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.eloksolutions.divaz">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.eloksolutions.divaz.activities.SpalshScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.OrderView"
            android:theme="@style/AppTheme.NoActionBar"
             />
        <activity
            android:name="in.eloksolutions.divaz.activities.MainActivityThemeChange"
            android:theme="@style/AppThemeTwo"
            />
        <activity
            android:name="in.eloksolutions.divaz.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name="in.eloksolutions.divaz.activities.ServiceList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity

            android:name="in.eloksolutions.divaz.activities.ProfileUpdate"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="in.eloksolutions.divaz.activities.ServiceSOrRates"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="in.eloksolutions.divaz.activities.Packages"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.Registartion"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.BookingAppointMent"
            android:label="BookingAppointMent"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.ContactUs"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.AboutUs"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.Consult"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.ApointMentUpdate"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.OffersScreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.AboutPreview"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.CompanyView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.Home"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.CompanyList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.ServiceLists"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.OffersList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.PackagesList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.ServiceView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.OfferView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.PackagesView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.ProfileView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.AppointMents"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.RecentParlours"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="in.eloksolutions.divaz.activities.AboutNew"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <service android:name=".messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>