<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.eloksolutions.beaty">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SpalshScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrderView"
            android:theme="@style/AppTheme.NoActionBar"
             />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name=".activities.ServiceList"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ServiceSOrRates"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Packages"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.Registartion"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.BookingAppointMent"
            android:label="BookingAppointMent"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.ContactUs"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.AboutUs"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.Consult"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.OffersScreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.AboutPreview"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.CompanyView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.Home"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.CompanyList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.ServiceLists"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.OffersList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.PackagesList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.ServiceView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.OfferView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.PackagesView"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>